@{
    ViewData["Title"] = "Home Page";
}

<div class="container-page">
    @if(User.Identity.IsAuthenticated)
{
    <div class="logout-container color" style="justify-content:space-between">
        <div>
            	    <p class="badge bg-success text-white">@User.Identity.Name</p>
        </div>
        <div>
            	    <form method="post" asp-controller="Account" asp-action="Logout">
		    <input class="btn btn-sm btn-primary" type="submit" value="Выход" />
	    </form>
        </div>

 

    </div>
}
else
{
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Register">Регистрация</a>
}
</div>

